*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #dbdbdb;
}
.main-part{
    justify-content: center;
    text-align: center;
}
img:hover{
    transform: scale(1.1);
}
/* Navigation Bar */
.btnlogin{
    background-color: white; /* white */
    border: none;
    color: rgba(0, 0, 255, 0.753);
    padding: 6px 32px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item a img{
    transform: scale(1);
}
.logo{
    align-items: center;
    width: fit-content;
    flex-direction: column;
}

.searchbar{
    height: 100%;
    min-width: 300px;
    margin: 0 auto 0 12px;
}   
/* Catagory Section */
.main-catagory-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.catagory{
    display: flex;
    text-align: center;
    /* width: auto; */
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.catagory-items{
    padding: 5px 20px;
}
.dropdown a{
    text-decoration: none;
    color: black;
}
/* deals od the day */
.head{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    border-bottom: 1px solid grey;
    background-color: white;
}
.left{
    align-items: center;
}
.subtitle{
    font-weight: lighter;
}
.fa-clock{
    padding: 0px 20px;
    font-size: 25px;
}
.btn{
    max-height: 40px;
}
.itemimg{
    align-items: center;
}

/* card */
.card{
    display: flex;
    border-style: none;
    text-align: center;
    padding:15px 10px;
    min-height: 238px;
    min-width: 165px;
}
.card-img-top{

    height: 130px;
    width: 140px;
}
.itemimg img{
    max-height: 100%;
    max-width: 100%;
    width: auto;;
}
.card-text{
    color: rgb(21, 92, 21);
}
.card-group{
    flex-wrap: nowrap;
    overflow-y: auto;
}
#deals{
    flex-wrap: nowrap;
    overflow-y: auto;
}
.card-title ,.card-text{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-footer{
    background-color: white;
    border: none;
}

.deal-section{
    margin: 15px 10px;
    /* background-color: white; */
    max-width: 1680px;
}
.deal-of-day{
    margin-top: 15px;
}
/* Footer */
.footer-list{
    background-color: #172337;
    padding: 20px 20px;
}
.list-group-item{
    background-color: #172337;
    color: white;
    border: none;
}
.list-title{
    color: grey;
}
.list-text{
    color: white;
    padding-left: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}
.contact-section{
    border-left: 2px solid gray;
    justify-content: space-between;
    padding-left: 10px;
} 
.footer-down{
    justify-content: center;
    justify-content: space-between;
}
.copyright{
    text-decoration: none;
    color: white;
}
.Footer-bottom{
    color: white;
    text-decoration: none;
}
